

//overides
header.profile-avatar-container h1 {
	margin-top: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold
}



a {
	color: inherit;
}

a:visited { color: inherit; } a:hover { color: inherit; }

h1 {
	font-size: @font-size-base *2;
}

