@import "bootstrap.less";

.source.btn {
  position: fixed;
  top: @grid-gutter-width / 2;
  right: @grid-gutter-width / 2;
}

.circle-clip-20 {
	border: 2px solid white;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	box-shadow: 0px 0px 5px rgba(48,48,48,0.9);
	-webkit-box-shadow: 0px 0px 5px rgba(48,48,48,0.9);
/*	-webkit-clip-path: circle();
	clip-path: circle();*/
}

.node {
	position: absolute;
}
