@import "bootstrap.less";

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Roboto";
}

// feedback form
.feedback {
  z-index: 100000; // always on top
  position: fixed;
  right: round(@grid-gutter-width / 2);
  bottom: round(@grid-gutter-width / 2);
  background-color: #FFC0CB;
}
